<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <title>Articles</title>
    <meta name="author" content="Marcin Dudek" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <style id="jss-server-side">
      <%- cssData -%>
    </style>
    <script type="text/javascript">
      window.initialData =  <%- JSON.stringify(data) -%>
    </script>
  </head>

  <body>
    <div id="root"><%- content -%></div>

    <script src="vendors~main.js" charset="utf-8"></script>
    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
