<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Advanced React</title>
    <meta name="author" content="Marcin Dudek" />
  </head>

  <body>
    <div id="root"><%- initialContent -%></div>

    <script src="bundle.js" charset="utf-8"></script>
  </body>
</html>
